* {
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    font-family: Helvetica, Arial, sans-serif;
}

.fblogo{
    height: 106px;
}

.inner{
    background: #f0f2f5 ;
    padding-bottom: 112px;
    padding-top: 72px;
    width: 100%;
}
.slogan{
    width: 95%;
    min-width: 400px;
    margin: auto;
}
.col {
    float: left;
    width: 50%;
    min-width: 200px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.btn{
    color: #fff;
    border-radius: 8px;
    height: 47.5px;
    border: 0px;
    &:hover{
        cursor: pointer;
    }
    font-weight: bold;
}

.card{
    width: 396px;
    margin: 40px auto 0;
    padding: 10px 20px 1em 1em;
    text-align: center;

    .card-content{
        display: inline;
        width: 100%;
        .card-elt{
            display: inline !important;
            width: 100%;
            // padding-top: 20px;
            margin-top: 20px;
            margin-block: auto;
            
            .btn-primary{
                background-color: #1877f2;
                width: 100%;
            }
            .btn-success{
                background-color: #42b72a;
                border-color: #42b72a;
            }
        }
        a{
            margin: 10px;
        }
        .divider{
            width: 100%;
        }
    }
}
.create-page{
    text-align: center;
    a {
        color: black;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.divider{
    height: 1px;
    margin: 4px;
    color: #737373;
    background-color: #dddfe2;
}
.container {
    margin: 0 auto;
}
.footer{
    color: #737373;
    .container{
        ul{
            list-style-type: none;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            padding-top: 8px;

            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            li{
                display: inline-block;
                color: #737373 !important;
                margin-right: 1em;
                a{
                    text-decoration: none;
                    color: #737373;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .divider{
            width: 100%;
        }
    }
}

:root {

    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;

}

.form-field {
    // display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px !important;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

.form-input {
    // position: relative;
    display: flex;
    width: 100%;
    & > span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        // position: relative;
        // z-index: 1;
        flex: 1 1 auto;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        color: var(--group-color);
        background: var(--group-background);
        border: 1px solid var(--group-border);
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: var(--group-color-focus);
            background: var(--group-background-focus);
            border-color: var(--group-border-focus);
        }
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center
body {
    min-height: 100vh;
    font-family: 'Mukta Malar', Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F9FF;  
    .form-group {
        max-width: 360px;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}
@media only screen and (max-width: 1092px){
    .container{
        margin: 0 0.5em !important;
        margin-left: 0px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 900px;
    }
}
@media only screen and (max-width: 800px) {
    .inner{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    body{
        text-align: center;
    }
    .row{
        display: inline;
    }
    .col{
        width: 100%;
    }
    .slogan{
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .card{
        width: 396px;
        margin-top: 40px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 8px;
        background: #fff;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
        box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
}